#header #top-header {
  border-bottom: 1px solid #ddd;
}
.header-links {
  float: left;
}

.header-links ul li {
  display: inline-block;
  border-left: 1px solid #ddd;
}
.header-links ul li:last-child {
  border-right: 1px solid #ddd;
}
.header-links ul li a {
  display: block;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  color: #222;
  font-size: 12.5px;
  text-align: center;
  text-transform: uppercase;
}
.header-links ul li a:hover {
  color: #ef233c;
}
.header-social {
  float: right;
}

.header-social ul li {
  display: inline-block;
  border-left: 1px solid #ddd;
}

.header-social ul li:last-child {
  border-right: 1px solid #ddd;
}

.header-social ul li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #222;
  text-align: center;
}
.header-social ul li a:hover {
  color: #ef233c;
}
#header #center-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-logo {
  float: left;
}

.header-logo .logo {
  display: inline-block;
}

.header-logo .logo > img {
  width: 100%;
  max-height: 90px;
  padding: 10px;
}
.header-logo {
  float: left;
}

.header-logo .logo {
  display: inline-block;
}

.header-logo .logo > img {
  width: 100%;
  max-height: 90px;
  padding: 10px;
}
#header #center-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
#header #center-header {
  padding: 0px;
}
